.nav {
  position: relative;    
  /* z-index: 1; */
  padding: 30px 10;   
  /* background-color: #fff; */
  box-shadow: var(--box-shadow);
  margin-left:auto;
  margin-right:auto;
  width:0%; 
  /* 애를 조절하면은 nav 박스움직임 */
}   

/* .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

ul.menu {
  display: flex;
  align-items: center;
  padding: 10;
  margin: 10;
  list-style: none;   
   
}
/* 애는 nav 메뉴 사이들의 space */
ul.menu > li:not(:last-child) {
  margin-right: 60px;
}

ul.menu a:hover,
ul.menu a:active {
  text-decoration: underline;
}
